<div class="container">
  <div class="header">
    <h1>To Do List</h1>
    <input type="text" id="task-input" class="form-control" name="newList" placeholder="What needs to be done?">
  </div>

  <ul id="todo-list">

  </ul>
  <div id="menu">

  </div>
</div>